In [25]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
from scipy.stats import zscore
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [26]:
# 1. Load and preprocess the dataset
# Load the 'titanic' dataset from seaborn (it has missing values)
df = sns.load_dataset('titanic')

In [27]:
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [28]:
# Display missing values count
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [29]:
# Handle missing values:.
df['age'].fillna(df['age'].median())
df['embarked'].fillna(df['embarked'].mode()[0])
df['sex'].fillna(df['sex'].mode()[0])

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object

In [30]:
# Display missing values count
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [31]:
# 2. Detect and remove outliers using Z-score method
def remove_outliers_zscore(df, columns, threshold=3):
    # Calculate Z-scores for the numerical columns
    z_scores = np.abs(zscore(df[columns].select_dtypes(include=[np.number])))
    # Filter out rows with Z-scores greater than the threshold
    return df[(z_scores < threshold).all(axis=1)]

In [32]:
# We are interested in numerical columns for outlier removal
df_no_outliers = remove_outliers_zscore(df, ['age', 'fare'])

In [33]:
# Display the dataset shape after removing outliers
print(f"\nDataset shape after removing outliers: {df_no_outliers.shape}")

Dataset shape after removing outliers: (0, 15)

In [34]:
# 3. K-Nearest Neighbors (K-NN) Classification
# Convert categorical columns to numerical values
df_no_outliers['sex'] = df_no_outliers['sex'].map({'male': 0, 'female': 1})

In [35]:

# Drop rows with missing target values (e.g., missing 'survived' values)
df_no_outliers = df_no_outliers.dropna(subset=['survived'])

In [36]:
# Features (X) and Target (y)
X = df_no_outliers[['age', 'fare', 'sex']]
y = df_no_outliers['survived']

In [37]:
# Split the dataset into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [38]:
# Initialize and train the K-NN model
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [39]:
# Predict on the test set
y_pred = knn.predict(X_test)

NameError: name 'X_test' is not defined

In [21]:
# 4. Evaluate the model using precision, recall, f1-score, and confusion matrix
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Classification Report:

NameError: name 'y_test' is not defined

In [22]:
# Confusion matrix
print("\nConfusion Matrix:")
conf_matrix = confusion_matrix(y_test, y_pred)
print(conf_matrix)

Confusion Matrix:

NameError: name 'y_test' is not defined

In [23]:
# Plotting confusion matrix
plt.figure(figsize=(6, 6))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues', xticklabels=['Not Survived', 'Survived'], yticklabels=['Not Survived', 'Survived'])
plt.title('Confusion Matrix')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.show()

NameError: name 'conf_matrix' is not defined

In [24]:
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

NameError: name 'X_train' is not defined