In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from scipy.stats import zscore

In [42]:
df=pd.read_csv("Downloads/BD_economic_indicators.csv")
df

,Year,GDP,GDP per capita,GDP growth,Inflation rate,Unemployed rate,Government debt,Total Investment
0,1980,41.2,500,3.10%,15.40%,NaN,NaN,14.44%
1,1981,47.4,560,5.60%,14.50%,NaN,NaN,17.16%
2,1982,52.0,597,3.20%,12.90%,NaN,NaN,17.36%
3,1983,56.5,633,4.60%,9.50%,NaN,NaN,16.56%
4,1984,61.0,664,4.20%,10.40%,NaN,NaN,16.48%
5,1985,65.3,693,3.70%,10.50%,NaN,NaN,15.83%
6,1986,69.3,715,4.00%,10.20%,NaN,NaN,16.18%
7,1987,73.1,735,2.90%,10.80%,NaN,NaN,15.47%
8,1988,77.5,759,2.40%,9.70%,NaN,NaN,15.74%
9,1989,84.0,801,4.30%,8.70%,NaN,NaN,16.12%
10,1990,91.1,848,4.60%,10.50%,NaN,NaN,16.46%
11,1991,98.1,892,4.20%,8.30%,2.20%,NaN,16.90%
12,1992,105.1,935,4.80%,3.60%,2.25%,NaN,17.31%
13,1993,112.3,977,4.30%,3.00%,2.37%,NaN,17.95%
14,1994,119.9,"1,021",4.50%,6.20%,2.44%,NaN,18.40%
15,1995,128.2,"1,069",4.80%,10.10%,2.48%,NaN,19.12%
16,1996,137.1,"1,120",5.00%,2.50%,2.51%,NaN,20.73%
17,1997,146.8,"1,175",5.30%,5.00%,2.69%,NaN,21.82%
18,1998,155.9,"1,223",5.00%,8.60%,2.83%,NaN,22.12%
19,1999,166.9,"1,284",5.40%,6.20%,3.10%,NaN,22.72%
20,2000,180.2,"1,361",5.60%,2.50%,3.27%,NaN,23.81%
21,2001,193.2,"1,434",4.80%,1.90%,3.55%,NaN,24.17%
22,2002,205.7,"1,501",4.80%,3.70%,3.96%,NaN,24.34%
23,2003,221.9,"1,594",5.80%,5.40%,4.32%,44.30%,24.68%
24,2004,241.9,"1,713",6.10%,6.10%,4.30%,43.50%,24.99%
25,2005,265.5,"1,855",6.30%,7.00%,4.25%,42.30%,25.83%
26,2006,291.4,"2,018",6.90%,6.80%,3.59%,42.30%,26.14%
27,2007,319.7,"2,183",6.50%,9.10%,3.77%,41.90%,26.18%
28,2008,344.0,"2,325",5.50%,8.90%,4.07%,40.60%,26.20%
29,2009,365.0,"2,441",5.30%,4.90%,5.00%,39.50%,26.21%
30,2010,391.7,"2,592",6.00%,9.40%,3.37%,35.50%,26.25%
31,2011,425.8,"2,785",6.50%,11.50%,3.71%,36.60%,27.42%
32,2012,460.8,"2,979",6.30%,6.20%,4.04%,36.20%,28.26%
33,2013,496.5,"3,171",6.00%,7.50%,4.43%,35.80%,28.39%
34,2014,537.3,"3,396",6.30%,7.00%,4.41%,35.30%,28.58%
35,2015,581.6,"3,638",6.80%,6.20%,4.42%,33.60%,28.89%
36,2016,629.9,"3,900",7.20%,5.70%,4.35%,33.30%,29.65%
37,2017,690.5,"4,231",7.60%,5.60%,4.37%,32.60%,30.51%
38,2018,753.4,"4,630",7.90%,5.60%,4.30%,34.00%,31.23%
39,2019,817.6,"5,028",8.10%,5.50%,4.29%,33.50%,31.60%

In [3]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Year                 0
GDP                  0
GDP per capita       0
GDP growth           0
Inflation rate       0
Unemployed rate     11
Government debt     23
Total Investment     0
dtype: int64

In [33]:
data = df.dropna()

In [34]:
z_scores = np.abs(zscore(data.select_dtypes(include=[np.number])))  # Select only numeric columns
outliers = (z_scores > 3)

In [38]:
data_no_outliers = data[~outliers.any(axis=1)]
data_no_outliers

,Year,GDP,GDP per capita,GDP growth,Inflation rate,Unemployed rate,Government debt,Total Investment
23,2003,221.9,"1,594",5.80%,5.40%,4.32%,44.30%,24.68%
24,2004,241.9,"1,713",6.10%,6.10%,4.30%,43.50%,24.99%
25,2005,265.5,"1,855",6.30%,7.00%,4.25%,42.30%,25.83%
26,2006,291.4,"2,018",6.90%,6.80%,3.59%,42.30%,26.14%
27,2007,319.7,"2,183",6.50%,9.10%,3.77%,41.90%,26.18%
28,2008,344.0,"2,325",5.50%,8.90%,4.07%,40.60%,26.20%
29,2009,365.0,"2,441",5.30%,4.90%,5.00%,39.50%,26.21%
30,2010,391.7,"2,592",6.00%,9.40%,3.37%,35.50%,26.25%
31,2011,425.8,"2,785",6.50%,11.50%,3.71%,36.60%,27.42%
32,2012,460.8,"2,979",6.30%,6.20%,4.04%,36.20%,28.26%
33,2013,496.5,"3,171",6.00%,7.50%,4.43%,35.80%,28.39%
34,2014,537.3,"3,396",6.30%,7.00%,4.41%,35.30%,28.58%
35,2015,581.6,"3,638",6.80%,6.20%,4.42%,33.60%,28.89%
36,2016,629.9,"3,900",7.20%,5.70%,4.35%,33.30%,29.65%
37,2017,690.5,"4,231",7.60%,5.60%,4.37%,32.60%,30.51%
38,2018,753.4,"4,630",7.90%,5.60%,4.30%,34.00%,31.23%
39,2019,817.6,"5,028",8.10%,5.50%,4.29%,33.50%,31.60%

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'y' is not defined